#topcont {
    background: url("../img/pizzalogo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 40px;
}
.head:hover {
    text-decoration: underline;
    font-style: italic;
}
#pompeo {
    position: absolute;
    right: 22px;
    top: 25px;
}
.whisper {
    right: 20px;
    position: absolute;
    top: 5px;
}
.social {
    position: absolute;
    bottom: 12px;
    background: transparent;
    right: 10px;
}
.topnav {
    background-color: red;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  #OurMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #OurMenu li a {
    padding: 5px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #OurMenu li a:hover {
    background-color: brown;
  }
  #menu {
      background: url("../img/aurora.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 30px;
      top: 5px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .offer {
    display:none;
    position: absolute;
    top: 0;width: 50%;height: 50%;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
  }
  .offer p{
    border: 1px solid #fff;
    height: 80%;width: 80%;
    display: flex; justify-content: center;
    align-items: center; color: #fff;
    font-size: medium; text-transform: uppercase;
    background: lightblue;
  }